.card {
    width: calc(500px + 20%);
    margin: auto;
    --calcite-card-corner-radius: var(--calcite-corner-radius-round);
    --calcite-card-background-color: var(--calcite-color-foreground-2);
    --calcite-card-border-color: var(--calcite-color-foreground-2);
    box-shadow: 0 0 8px 0 rgba(15, 15, 15, 0.5);
    border-radius: var(--calcite-corner-radius-round);
    --calcite-font-weight-medium: 650;
}

.chip {
    --calcite-font-weight-medium: 400;
    --calcite-chip-background-color: var(--calcite-color-foreground-3);
    scale: "small";
    margin-top: 5px;
}

.complete {
    --calcite-chip-text-color:#75FB4C
}
.in-progress {
    --calcite-chip-text-color:#EAC452
}
.ongoing {
    --calcite-chip-text-color:#75FBFD
}