:root {
  font-family: "Noto Sans", sans-serif;

  --calcite-sans-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

body,
.calcite-mode-dark,
.calcite-mode-light {
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif !important;
}

.action-bar {
  --calcite-action-bar-items-space: 15px;
  --calcite-action-bar-size: 100%
}

.menu-button {
  height: 30px;
  width: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

calcite-button {
  --calcite-button-corner-radius: 5em;
  --calcite-button-text-color: '#ffffff';
  --calcite-button-icon-color: '#ffffff'
}

html {
  font-size: 120%
    /* Page scaling was too small */
}

body {
  background-color: #212121;
  color: #ffffff;
}

main {
  width: calc(500px + 20%);
  max-width: 90%;
  margin: auto;
  padding: 20px;
}

footer {
  text-align: right;
  font-size: smaller;
  padding: 15px;
}

.arcgis-zoom {
  box-shadow: none;
  border: none;
}

.sub-header {
  color: #ffffff;
  background-color: #212121;
  padding: 10px;
  text-align: center;
}

.header {
  color: #ffffff;
  background-color: #212121;
  padding: 10px;
  text-align: center;
  margin-bottom: -20;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 75;
}

.header img {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-height: 10em;
  border-radius: 15px;
  object-fit: cover
}

.header h1 {
  position: relative;
  z-index: 20;
  top: -115px;
  margin-bottom: -55px;
  font-size: 50px;
  text-shadow: 0px -15px 30px rgba(0, 0, 0, 0.5), 0px -7px 15px rgba(0, 0, 0, 0.5);
}

.header h2 {
  position: relative;
  z-index: 19;
  top: -90px;
  margin-bottom: -40px;
  font-size: 30px;
  text-shadow: 0px -15px 30px rgba(0, 0, 0, 0.5), 0px -7px 15px rgba(0, 0, 0, 0.5);
}

.header h3 {
  position: relative;
  z-index: 18;
  top: -70px;
  margin-bottom: -65px;
  font-size: 20px;
  text-shadow: 0px -15px 30px rgba(0, 0, 0, 0.5), 0px -7px 15px rgba(0, 0, 0, 0.5);
}

.sub-header {
  margin-top: -20px;
}

@media screen and (max-width: 800px) {
  .header img {
    max-height: 7em;
  }
}

a:link {
  color: var(--calcite-color-text-link) /* Unvisited link color */
}

a:visited {
  color: #DC90EE; /* Visited link color */
}