.react-div {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    border-radius: 15px;
    display: flex;
    z-index: 9999;
    width: 20%;
    min-width: 200px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
    max-height: 70%;
    overflow-y: auto;
    background-color: var(--calcite-color-foreground-2);
}

.user-button {
    --calcite-button-background-color: var(--calcite-color-foreground-2)
}

.user-button:hover {
    --calcite-button-background-color: var(--calcite-color-foreground-3)
}

.unmute {
    --calcite-button-border-color: var(--calcite-color-brand)
}

.row {
    align-items: center;
    justify-content: center;
    display: -ms-flexbox;
    position: relative;
}

.map {
    width: 80%;
    margin-left: 5%;
    margin-right: auto;
    position: relative;
    border-radius: 15px
}

.header-text {
    width: 80%;
    margin: auto;
    text-align: center;
}

.body-text {
    width: 50%;
    margin: auto;
}