.main-content {
    padding: 10px;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    display: -ms-flexbox;
    box-shadow: 0 0 4 #000;
    border-radius: 15px;
}

.map {
    height: 80vh;
    width: 75%;
    margin-left: 10%;
    margin-right: auto;
    position: relative;
    border-radius: 15px
}

.pop-panel {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    border-radius: 15px;
    display: flex;
    z-index: 9999;
    width: 20%;
    min-width: 200px;
    max-width: 400px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
    height: 500px;
    max-height: 70%;
    overflow-y: auto;
    overflow-wrap: normal;
    overflow-x: hidden;
    background-color: var(--calcite-color-foreground-2);
}

.race-panel {
    position: absolute;
    top: 60%;
    left: 2%;
    border-radius: 15px;
    display: flex;
    z-index: 10000;
    width: 14%;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
    height: 500px;
    max-height: 40%;
    overflow-y: auto;
    overflow-wrap: normal;
    overflow-x: hidden;
    background-color: var(--calcite-color-foreground-2);
}

.urban-rural-panel {
    position: absolute;
    top: 50%;
    left: 15%;
    border-radius: 15px;
    display: flex;
    z-index: 9999;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
    height: 500px;
    max-height: 25%;
    overflow-y: auto;
    overflow-wrap: normal;
    overflow-x: hidden;
    background-color: var(--calcite-color-foreground-2);
    aspect-ratio: 1/1;
}

.title-panel {
    position: absolute;
    top: -1%;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-50%);
    border-radius: 15px;
    z-index: 9999;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
    height: 30px;
    line-height: 30px;
    overflow-y: auto;
    overflow-wrap: normal;
    overflow-x: hidden;
    background-color: var(--calcite-color-foreground-2);
    width: auto;
    min-width: 20%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.legend {
    position: absolute;
    top: 30%;
    left: 3%;
    transform: translateY(-50%);
    border-radius: 15px;
    display: flex;
    z-index: 9999;
    width: auto;
    max-width: 200px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
    height: auto;
    max-height: 70%;
    overflow-y: auto;
    overflow-wrap: normal;
    overflow-x: hidden;
    background-color: var(--calcite-color-foreground-3);
}

.header-text {
    width: 80%;
    margin: auto;
    text-align: center;
}

.body-text {
    width: 800px;
    max-width: 90%;
    margin: auto;
}

.tooltip {
    position: absolute;
    bottom: -2%;
    right: 50%;
    transform: translateX(50%);
    border-radius: 15px;
    z-index: 9999;
    width: auto;
    max-width: 80%;
    text-wrap: auto;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
    height: auto;
    min-height: 40px;
    line-height: 40px;
    max-height: 70%;
    overflow-y: auto;
    overflow-wrap: normal;
    overflow-x: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--calcite-color-foreground-2);
    visibility: hidden;
}