.main-content {
    padding: 10px;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    display: -ms-flexbox;
    box-shadow: 0 0 4 #000;
    border-radius: 15px;
}

.map {
    height: 90vh;
    width: 80%;
    margin-left: 5%;
    margin-right: auto;
    position: relative;
    border-radius: 15px
}

.chart {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    border-radius: 15px;
    display: flex;
    z-index: 9999;
    width: 20%;
    min-width: 200px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
    height: 500px;
    max-height: 70%;
    overflow-y: auto;
    background-color: var(--calcite-color-foreground-2);
}